body{
  font: 5rem "Century Gothic", Futura, sans-serif;
}

.board-row::after{
  clear: both;
  content: "";
  display: table;
}

.status{
  display: flex;
  margin-bottom: 5rem;
  text-align: center;
  align-items: center;
}

.square{
  height: 10rem;
  width: 10rem;
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 8rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 750px){
  .square{
    height: 6.5rem;
    width: 6.5rem;
    font-size: 5.3rem;
  }
}
.square:focus{
  outline: none;
  background: #ddd;
}

.refresh{
  margin: 2rem;
  font-size: 3rem;
}